{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}Vuelo|contacto{% endblock titulo %}
{% block contacto %}class="active"{% endblock contacto %}
{% block contenido %}
	<div id="index-banner" class="parallax-container">
	    <div class="section no-pad-bot">
	      <div class="container">
	        <br><br>
	        <h2 class="header center teal-text text-darken-3">VUELO EN GLOBO AGUASCALIENTES</h2>
	        <div class="row center">
	          <h4 class="header col s12 light">Ven a volar en uno de nuestros globos y disfruta de una experiencia inolvidable.<br/></h4>
	        </div>
	        <br><br>

	      </div>
	    </div>
	    <div class="parallax"><img src="{% static "img/fondo.jpg" %}" alt="Unsplashed background img 1"></div>
	</div><br/>
	<div class="container">
	    <div class="section">
	      <div class="row">
	        <div class="col s12">
	        	<div class="row">
	        		<h2 class="center-align">Contactanos</h2>
	        	</div>
	        </div>
	        <div class="col s12">
	        		<div class="input-field col s12">
		                <input id="nombre" type="text" name="nombre" class="validate" required="">
		                <label for="nombre" class="">Nombre</label>
		            </div>
		            <div class="input-field col s12">
		                <input id="telefono" type="number" name="telefono" class="validate" required="">
		                <label for="telefono" class="">Teléfono</label>
		            </div>
		            <div class="input-field col s12">
		                <input id="correo" type="email" name="correo" class="validate">
		                <label for="correo" class="">Correo</label>
		            </div>
		            <div class="input-field col s12">
			          <textarea id="mensaje" class="materialize-textarea" name="mensaje" required=""></textarea>
			          <label for="mensaje">Mensaje</label>
			        </div>
			        <div class="input-field col s12">
			          <p class="right-align">
			          	<button onclick="enviar()" name="btn-mensaje" class="waves-effect waves-light btn-large">Enviar</button>
			          </p>
			        </div>
	        </div>
	      </div>
	    </div>
	</div>
	<div class="parallax-container valign-wrapper">
	    <div class="section no-pad-bot">
	      <div class="container">
	        <div class="row center">
	          <h5 class="header col s12 light">VIVE UNA EXPERIENCIA INOLVIDABLE!</h5>
	        </div>
	      </div>
	    </div>
	    <div class="parallax"><img src="{% static "img/der4.JPG" %}"></div>
	</div>

	<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Mensaje Exitoso</h4>
      <p>'¡Mensaje enviado exitosamente, pronto nos pondremos en contacto con usted!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
<script type="text/javascript">
	function enviar(){
		var nombre = $('#nombre').val();
		var telefono = $('#telefono').val();
		var correo = $('#correo').val();
		var mensaje = $('#mensaje').val();
		$.ajax({
              data: ({'nombre':nombre,'telefono':telefono,'correo':correo,'mensaje':mensaje}),//el valor que enviaras a la vista
              url : '/enviar/', //el nombre de la url
              type: 'get',          
                success : function(response){         
                    Materialize.toast(response['mensaje'], 2000);
                    setInterval(function(){location.href = "/contacto/"; }, 2000);
                }           
         });

		 
	}
</script>    
{% endblock %}