{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}VUELO|INICIO{% endblock titulo %}
{% block inicio %}class="active"{% endblock inicio %}
{% block contenido %}
	<div id="index-banner" class="parallax-container">
	    <div class="section no-pad-bot">
	      <div class="container">
	        <br><br>
	        <h2 class="header center teal-text text-darken-3">VUELO EN GLOBO AGUASCALIENTES</h2>
	        <div class="row center">
	          <h4 class="header col s12 light">Ven a volar en uno de nuestros globos y disfruta de una experiencia inolvidable.<br/></h4>
	          <h5>Admira desde el cielo los hermosos paisajes de Aguascalientes y vive la experiencia única de sentirte libre flotando en uno de los globos más grandes y espectaculares.</h5>
	          
	        </div>
	        <br><br>

	      </div>
	    </div>
	    <div class="parallax"><img src="{% static "img/fondo.jpg" %}" alt="Unsplashed background img 1"></div>
	</div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12">
        	<div class="row">
        		<h2 class="center-align">QUIENES SOMOS</h2>
        		<p class="valign">Somos una empresa Mexicana en la cual puedes vivir la experiencia de volar en globo aerostático y a su 	vez conocer nuestra herencia cultural deleitándote de una fascinante vista.
				Desde 1783 el sueño humano de volar se hizo realidad siendo testigo de este hecho por primera vez la ciudad de Paris. Desde entonces el vuelo en globo ha causado asombro en todo el mundo.</p>
        	</div>
        	<div class="row">
        		<div class="col m6">
        			<img src="{% static "img/izquierda.jpg" %}" class="img-responsive" width="450">
        			<p class="center-align">Ven a volar en uno de los globos más grandes y espectaculares de la zona. Contamos con una flotilla de calidad, así como con los mejores pilotos. Nuestro objetivo ha sido y seguirá siendo brindar experiencias inolvidables.</p>
        			
        		</div>
        		<div class="col m6">
        			<img src="{% static "img/derecha.jpg" %}" class="img-responsive" width="450">
        			<p class="center-align">Con el paso del tiempo la empresa ha ido innovando y creando servicios extras al vuelo en globo con el fin de satisfacer totalmente a nuestros clientes haciendo su estancia la mejor aventura.</p>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">DISFRUTA DE LAS MEJORES VISTAS DE AGUASCALIENTES</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static "img/der.JPG" %}"></div>
  </div>


{% endblock contenido %}