{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}Vuela|{{ plan.titulo }}{% endblock titulo %}
{% block contenido %}
	<div class="main main-raised" style="padding-top:100px;">
		<div class="container">
			<div class="row">
				<a href="{% url 'index' %}"><h5 class="btn btn-info">Regresar</h5></a>
				<div class="col-md-12"> 
					<h3 class="page-header text-center" style="color:#333;">{{ plan.titulo|upper }}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="{{ MEDIA_URL }}{{ plan.imagen_1 }}"style="width: 400px; height: 250px;" class="img-responsive thumbnail">	
				</div>
				<div class="col-md-4">
					<img src="{{ MEDIA_URL }}{{ plan.imagen_2 }}"style="width: 400px; height: 250px;" class="img-responsive thumbnail">	
				</div>
				<div class="col-md-4">
					<img src="{{ MEDIA_URL }}{{ plan.imagen_3 }}"style="width: 400px; height: 250px;" class="img-responsive thumbnail">	
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<p>{{ plan.descripcion|safe }}</p>
					<h4>Incluye</h4>
					  {{ plan.incluye|safe }}
				</div>
				<div class="col-md-5">
					<div class="bs-callout bs-callout-success">
					  <h4>Costo</h4>
					  {{ plan.precio|safe }}
					  <strong><p>Contacto:</p></strong>
					  <li><strong><i class="fa fa-phone" aria-hidden="true"></i></strong> {{ datos.telefono_1 }}</li>
					  <li><strong><i class="fa fa-phone-square" aria-hidden="true"></i></strong> {{ datos.telefono_2 }}</li>
					  <li><i class="fa fa-envelope" aria-hidden="true"></i></strong> {{ datos.email }}</li>
					  <li><strong><i class="fa fa-map-marker" aria-hidden="true"></i></strong> {{ datos.domicilio }}</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock contenido %}