{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}Vuela|{{ plan.titulo }}{% endblock titulo %}
{% block servicios %}class="active"{% endblock servicios %}
{% block contenido %}
	<div id="index-banner" class="parallax-container">
	    <div class="section no-pad-bot">
	      <div class="container">
	        <br><br>
	        <h2 class="header center teal-text text-darken-3">VUELO EN GLOBO AGUASCALIENTES</h2>
	        <div class="row center">
	          <h4 class="header col s12 light">Ven a volar en uno de nuestros globos y disfruta de una experiencia inolvidable.<br/></h4>
	        </div>
	        <br><br>

	      </div>
	    </div>
	    <div class="parallax"><img src="{% static "img/fondo.jpg" %}" alt="Unsplashed background img 1"></div>
	</div><br/>
	<div class="main main-raised">
		<div class="section" id="carousel">
		<div class="container">
			<div class="row">
				<a href="{% url 'planes' %}"><h5 class="btn btn-raised btn-info"><i class="material-icons">skip_previous</i> Regresar</h5></a>
				<div class="col-md-12"> 
					<h1 class="page-header center-align" style="color:#333;">{{ plan.titulo|upper }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col m4">
					<img src="{{ MEDIA_URL }}{{ plan.imagen_1 }}"style="width: 300px; height: 250px;" class="img-responsive thumbnail">	
				</div>
				<div class="col m4">
					<img src="{{ MEDIA_URL }}{{ plan.imagen_2 }}"style="width: 300px; height: 250px;" class="img-responsive thumbnail">	
				</div>
				<div class="col m4">
					<img src="{{ MEDIA_URL }}{{ plan.imagen_3 }}"style="width: 300px; height: 250px;" class="img-responsive thumbnail">	
				</div>
			</div>
			<div class="row">
				<div class="col m7">
					<div class="bs-callout bs-callout-success">
					  <h4>Incluye</h4>
					  {{ plan.incluye|safe }}					
					</div>
				</div>
				<div class="col m5">
					<div class="bs-callout bs-callout-warning">
					  <h4>Costo</h4>
					  {{ plan.precio|safe }}
					  <strong><p>Contacto:</p></strong>
					  <li>Teléfono 1: {{ datos.telefono_1 }}</li>
					  <li>Teléfono 2: {{ datos.telefono_2 }}</li>
					  <li>Email: {{ datos.email }}</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock contenido %}